script.
    var authenticated = #{authenticated};
script(src='resources/locale/#{lang}.js')
include ../client/index.html
//include ../client/build/production/Packt/index.html
//include ../client/build/testing/Packt/index.html