.vn {
  background-image: url('images/app/flags/vn.png') !important;
}

.en {
  background-image: url('images/app/flags/us.png') !important;
}

.es {
  background-image: url('images/app/flags/es.png') !important;
}